#totalMenu{
	color: red;
	background-image: url(../imgs/background2.jpg);
	background-size: cover;
	width: 1280px;
	height: 720px;
	border: ridge 10px;
	border-color:darkred; 
	border-radius: 2ch;
	margin: auto;
	text-align: center;
	position: relative;
	cursor: url(../imgs/pointer.cur), auto;
}



h1 {
    color: #333;
    margin-bottom: 30px;
}

