@charset "UTF-8";
/*枠外背景*/
body{
	background-color: navy;
	background-image: url(../imgs/割れたガラス3.png);
	background-size: cover;
}
/*リンク装飾（後に消去？）*/
a{
	color: navy;
	text-decoration: none;
}
a:visited{
	color: navy;
}
/*battleページ装飾*/
#flex-questions{
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	height: 280px;
	font-size: large;
	justify-content: center;
	margin: auto;
}
#box{
	width: 350px;
	height: 90px;
	padding: 5px;
	margin: auto;
	font-size: large;
}
#enemy{
	text-align: right;
}
img#enemy{
	float: right;
	transform: scale(-1,1);
}
#player{
	float: left;
}
.questions{
	width: 50%;
	margin:auto;
	color: snow;
	background:rgba(81,55,67,0.5);
}
.helpItems{
	color: black;
	background:rgba(254,244,244,0.8);
}

/*ゲーム枠*/
/*#totalMenu{
	color: red;
	background-image: url(../imgs/background2.jpg);
	background-size: cover;
	width: 800px;
	height: 600px;
	border: ridge 3px;
	margin: auto;
	text-align: center;
	position: relative;
}*/

#totalMenu{
	color: red;
	background-image: url(../imgs/background2.jpg);
	background-size: cover;
	width: 1280px;
	height: 720px;
	border: ridge 10px;
	border-color:darkred; 
	border-radius: 2ch;
	margin: 1em;
	margin: -3px;
	text-align: center;
	position: relative;
	cursor: url(../imgs/pointer.cur), auto;
}

/*トップ・マイページのフレックス*/
#flexMenu{
	display: flex;
	flex-wrap: wrap;
	width: 1000px;
	height: 300px;
	font-size: large;
	justify-content: center;
	margin: auto;
}
/*トップページフレックスボックスメニュー*/
div.loginform{
	background-color: purple;
	width:380px;
	height: 200px;
	color: snow;
	border: solid 1px khaki;
	float:left;
	margin:10px;
	margin-right:5%;
	padding: 5px;
}
div.guestMode{
	background-color: gray;
	width:250px;
	height: 200px;
	color: snow;
	border: solid 1px khaki;
	float:right;
	margin:10px;
}

/*マイページ内フレックスボックスメニュー*/
.leftMenu>div{
	background:rgba(81,55,67,0.5);
	border:solid 1px purple;
	margin:8px;
	margin-left:0%;
}
.rightMenu{
	background:rgba(81,55,67,0.5);	
}
.rightMenu>div{
	text-align: left;
	background-color: black;
	border:solid 1px powderblue;
	margin-top:15px;
	padding:3px;
}
.trickMenuList{
	background:rgba(81,55,67,0.5);
	margin-left:5%;
	margin-right:0;
}
.trickMenuList>p{
	background-color: black;
	text-align: center;
}

/*ホーム画面用*/
.character{
	width: 500px;
}
.word {
  position: relative;
  display: inline-block;
  width: 380px;
  top:-280px;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: snow;
  font-size: 16px;
  background:rgba(0,110,84,0.5);

}

.comment {
  display: none;
}

.homeQuest{
	position: absolute;
	right: 50px;
	bottom: 150px;
}

/*ボトムメニュー*/
.bottom{
	background-image: url(../imgs/black0003.png);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 1100px;
	height: 70px;
	margin: 10% 15% 3% 5%;
	border: solid 1px khaki;
	border-radius: 0px 0px 50px 50px;
	position: absolute;
	bottom: 0;
}

.menu{
	width: 180px;
	height: 60px;
	margin: 5px 20px;
	}
.menu:active{
	scale: 0.8;
	transition-timing-function: ease-in;
}
.homeRel{
	position: relative;
	width: 100px;
	height:100px;
}
.homeImg{
	position:absolute;
	left:8px;
	z-index:1;
}
#homeButton{
	position: absolute;
	bottom:3%;
	width: 110px;
	height: 110px;
	border-radius: 100%;
	background-color: snow;
	background-image: url("../imgs/magic_circuit001.png");
	background-size: cover;
	animation:homeanime 2s linear infinite;
}
@keyframes homeanime{
	from {transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}

#quest{
	background-image: url("../imgs/icon1.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}
#mypage{
	background-image: url("../imgs/icon3.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}
#shop{
	background-image: url("../imgs/icon2.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}#guide{
	background-image: url("../imgs/icon4.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}
/*ゲーム内背景*/
#bgi{
	background-image: url("../imgs/background.jpg");
	background-size: cover;
}


/*フッター装飾*/
footer{
	text-align: center;
	font-style: italic;
	color: black;
	text-shadow: 1px;
}