@charset "UTF-8";
body{
	background-color: navy;
	background-image: url(../imgs/割れたガラス3.png);
	background-size: cover;
}
a{
	color: navy;
	text-decoration: none;
}
a:visited{
	color: navy;
}

#flex{
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	height: 280px;
	justify-content: center;
	margin: auto;
}
#box{
	width: 350px;
	height: 90px;
	padding: 5px;
	margin: auto;
}
#enemy{
	text-align: right;
}
img#enemy{
	float: right;
	transform: scale(-1,1);
}
#player{
	float: left;
}
.questions{
	width: 50%;
	margin:auto;
	color: snow;
	background:rgba(81,55,67,0.5);
}
.helpItems{
	color: orange;
	background:rgba(238,130,124,0.5);
}

/*#totalMenu{
	color: red;
	background-image: url(../imgs/background2.jpg);
	background-size: cover;
	width: 800px;
	height: 600px;
	border: ridge 3px;
	margin: auto;
	text-align: center;
	position: relative;
}*/

#totalMenu{
	color: red;
	background-image: url(../imgs/background2.jpg);
	background-size: cover;
	width: 1280px;
	height: 720px;
	border: ridge 10px;
	border-color:darkred; 
	border-radius: 2ch;
	margin: auto;
	text-align: center;
	position: relative;
}

.bottom{
	background-image: url(../imgs/black0003.png);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 760px;
	height: 65px;
	margin: 10px 10px 18px 18px;
	border: solid 1px khaki;
	border-radius: 0px 0px 50px 50px;
	position: absolute;
	bottom: 0;
}

.menu{
	text-align: center;
	width: 100px;
	height: 50px;
	margin: 5px 15px;
	padding: 10px;
	}
.menu:active{
	scale: 0.8;
	transition-timing-function: ease-in;
}
.homeRel{
	position: relative;
	width: 100px;
	height:100px;
}
.homeImg{
	position:absolute;
	left:8px;
	z-index:1;
}
#homeButton{
	position: absolute;
	left:5%;
	bottom:8%;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: snow;
	background-image: url("../imgs/magic_circuit001.png");
	background-size: cover;
	animation:homeanime 2s linear infinite;
}
@keyframes homeanime{
	from {transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}

#quest{
	background-image: url("../imgs/icon1.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}
#mypage{
	background-image: url("../imgs/icon3.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}
#shop{
	background-image: url("../imgs/icon2.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}#guide{
	background-image: url("../imgs/icon4.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}
#bgi{
	background-image: url("../imgs/background.jpg");
	background-size: cover;
}

div#loginform{
	background-color: purple;
	width:350px;
	height: 180px;
	color: snow;
	border: solid 1px khaki;
	float:left;
	margin:10px;
	padding: 5px;
}
div.guestMode{
	background-color: gray;
	width:250px;
	height: 150px;
	color: snow;
	border: solid 1px khaki;
	float:right;
	margin:10px;
}
.leftMenu>div{
	background:rgba(81,55,67,0.5);
	border:solid 1px purple;
	margin:8px
}
.rightMenu>div{
	text-align: left;
	background:rgba(81,55,67,0.5);
	border:solid 1px powderblue;
	margin:8px
}
.trickMenuList{
	background:rgba(81,55,67,0.5);
}
.trickMenuList>li{
	background-color: black;
	text-align: justify;
}

footer{
	text-align: center;
	font-style: italic;
	color: black;
	text-shadow: 1px;
}